

@using SuperSearcher.BLL.Models.Statistics;


<h6>Length</h6>
<div class="container-fluid">
	<div class="row">

		<SimpleCardComponent Title="Max Len" Value="@statistics.termLenMax.ToString()" />
		<SimpleCardComponent Title="Min Len" Value="@statistics.termLenMin.ToString()" />
		<SimpleCardComponent Title="Avg Len" Value="@statistics.termLenAvg.ToString()" />
	</div>
</div>
<h6>Characters</h6>
<div class="container-fluid">
	<div class="row">
		<SimpleCardComponent Title="Total symbols" Value="@statistics.totalLetters.ToString()" />
		<SimpleCardComponent Title="Alpaha Total" Value="@statistics.totalAlpha.ToString()" />
		<SimpleCardComponent Title="Num Total" Value="@statistics.totalNumerical.ToString()" />
		<SimpleCardComponent Title="Special chars Total" Value="@statistics.totalSpecific.ToString()" />
		<SimpleCardComponent Title="Alpaha percent" Value="@statistics.charPercent.ToString()" />
	</div>
</div>
<h6>Requests</h6>
<div class="container-fluid">
	<div class="row">
		<SimpleCardComponent Title="Most trended request" Value="@statistics.TrendRequest.ToString()" />
		<SimpleCardComponent Title="Most used Char" Value="@statistics.MostUsed.ToString()" />
	</div>
</div>
<h6>Usage</h6>
<div class="container-fluid">
	<div class="row">
		<SimpleCardComponent Title="Requests per day" Value="@statistics.ReqPerDayAvg.ToString()" />


	</div>
</div>


@code {
	[Parameter]
	public SearchConditionStatisticResult statistics { get; set; }
}
