

@using SuperSearcher.BLL.Models.Statistics;


<h6>Length</h6>
<div class="container-fluid">
	<div class="row">

		<SimpleCardComponent Title="Max Len" Value="@statistics.termLenMax" />
		<SimpleCardComponent Title="Min Len" Value="@statistics.termLenMin" />
		<SimpleCardComponent Title="Avg Len" Value="@statistics.termLenAvg" />
	</div>
</div>
<h6>Characters</h6>
<div class="container-fluid">
	<div class="row">
		<SimpleCardComponent Title="Total symbols" Value="@statistics.totalLetters" />
		<SimpleCardComponent Title="Alpaha Total" Value="@statistics.totalAlpha" />
		<SimpleCardComponent Title="Num Total" Value="@statistics.totalNumerical" />
		<SimpleCardComponent Title="Special chars Total" Value="@statistics.totalSpecific" />
		<SimpleCardComponent Title="Alpaha percent" Value="@statistics.charPercent" />
	</div>
</div>
<h6>Requests</h6>
<div class="container-fluid">
	<div class="row">
		<SimpleCardComponent Title="Most trended request" Value="@statistics.TrendRequest" />
		<SimpleCardComponent Title="Most used Char" Value="@statistics.MostUsed" />
	</div>
</div>
<h6>Usage</h6>
<div class="container-fluid">
	<div class="row">
		<SimpleCardComponent Title="Requests per day" Value="@statistics.ReqPerDayAvg" />


	</div>
</div>


@code {
	[Parameter]
	public SearchConditionStatisticResult statistics { get; set; }
}
